body{
    background-image: url(../img/back.ground.image.jpg);
}

.mt-5 div {
    
    width: 85%;
    margin: auto;
}

.container{
    width: 85%;
    text-align: center;
 
 }

.container img {
    width: 50%;

}

.form-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
    
}

.form-control{
    width: 125%;
    align-items: center;
}

.form-control:hover {
 border: 2px solid var(--button-bg);
}

